@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Lato:wght@100&family=Playfair+Display&display=swap');

body{
  background-color: black;
  font-family: 'Changa', sans-serif;
  margin:0;
  padding:0;
}

h1{
  font-size:90px;
  color:white;
  opacity:1;
  margin:0;
  text-align: center;
  animation-duration: 3s;
  animation-name: animTitle;
}

.contentCard{
  display: flex;
  justify-content: center;
  margin-top:50px;
  /* background-color: lightgray; */
}

.card1{
  transform-style: preserve-3d;
  perspective: 850px;
  perspective-origin: -100px 250px;
  width:330px;
  height:220px;
}

.card2{
  transform-style: preserve-3d;
  perspective: 850px;
  perspective-origin: 300px 250px;
  width:260px;
  height:220px;
}

.face{
  width:200px;
  height:200px;
  position: absolute;
}

.front1{
  transform: translateZ(100px);
  background: radial-gradient(circle at 20%, #3057d4, #021553);
}

.front2{
  transform: translateZ(100px);
  background: radial-gradient(circle at 20%, #d43030, #530202);
}

.left{
  transform: rotateY(-90deg) translateZ(100px);
  background: linear-gradient(to left,#2c4fc1, #2d2d88fd);
}

.right{
  transform: rotateY(90deg) translateZ(100px);
  background: linear-gradient(to left,#882d2dfd, #c12c2c);
}

.bottom1{
  transform:rotateX(90deg) translateZ(-100px);
  background: linear-gradient(to right, #192b65, #1c1c5dfd);
}

.bottom2{
  transform:rotateX(90deg) translateZ(-100px);
  background: linear-gradient(to right, #651919, #5d1c1cfd);
}

h2{
  font-size: 30px;
  text-align: center;
  margin:25px 0 15px 0;
}

.front1 > h2{
  font-weight: bold;
  color:#4470ff;
  text-shadow: -2px 1px 1px #1c3070;
}

.front2 > h2{
  font-weight: bold;
  color:red;
  text-shadow: 2px 1px 0 #701c1c;
}

input{
  display: block;
  margin: auto;
  height:20px;
  width:130px;
}

.front1 > input{
  background-color: #92b5ff;
  /* background: radial-gradient(circle at 20%, #3057d4, #021553); */
}

.front2 > input{
  background-color: #ff9292;
  /* background: radial-gradient(circle at 20%, #d43030, #530202); */
}








@keyframes animTitle{
  from{
    font-size: 80px;
    opacity: 0;
  }

  to{
    font-size: 90px;
    opacity: 1;
  }
}