@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Lato:wght@100&family=Playfair+Display&display=swap');

body{
  background-color: black;
  font-family: 'Changa', sans-serif;
  margin:0;
  padding:0;
  height:100vh;
}

h1{
  font-size:70px;
  color:white;
  margin:0;
  text-align: center;
  animation: 3s forwards fadeIn_title;
}

.contentCard{
  display: flex;
  justify-content: center;
  margin-top:120px;
  animation: 3s 1.5s forwards fadeIn_card;
  /* opacity:0; */
}

.card1{
  transform-style: preserve-3d;
  perspective: 850px;
  perspective-origin: -100px 250px;
  width:220px;
  height:220px;
  margin-right:70px;
}

.card2{
  transform-style: preserve-3d;
  perspective: 850px;
  perspective-origin: 300px 250px;
  width:220px;
  height:220px;
  margin-left:70px;
}

.face{
  width:200px;
  height:200px;
  position: absolute;
}

.front1{
  transform: translateZ(100px);
  background: radial-gradient(circle at 20%, #3057d4, #021553);
  right:0;
}

.front2{
  transform: translateZ(100px);
  background: radial-gradient(circle at 20%, #d43030, #530202);
}

.left{
  transform: rotateY(-90deg) translateZ(100px);
  background: linear-gradient(to left,#2c4fc1, #2d2d88fd);
  right:0;
}

.right{
  transform: rotateY(90deg) translateZ(100px);
  background: linear-gradient(to left,#882d2dfd, #c12c2c);
}

.bottom1{
  transform:rotateX(90deg) translateZ(-100px);
  background: linear-gradient(to right, #192b65, #1c1c5dfd);
  right:0;
}

.bottom2{
  transform:rotateX(90deg) translateZ(-100px);
  background: linear-gradient(to right, #651919, #5d1c1cfd);
}

h2{
  font-size: 30px;
  text-align: center;
  margin:25px 0 15px 0;
}

.front1 > h2{
  font-weight: bold;
  color:#4470ff;
  text-shadow: -2px 1px 1px #1c3070;
}

.front2 > h2{
  font-weight: bold;
  color:red;
  text-shadow: 2px 1px 0 #701c1c;
}

input{
  display: block;
  margin: auto;
  height:20px;
  width:130px;
}

.front1 > input{
  background: radial-gradient(circle at 10%, #4a69d1, #8898cd);
  color:white;
  border-color:#1f428d;
}

.front2 > input{
  background: radial-gradient(circle at 10%, #d14a4a, #cd8888);
  color:white;
  border-color:#8d1f1f;
}

:where(.front1, .front2) > input:focus{
  outline: none;
}

.buttonStart{
  width:190px;
  height:80px;
  color:white;
  margin: auto;
  font-size: 30px;
  border-radius: 25px;
  border: 6px solid white;
  margin-top:30px;
  position: relative;
  /* opacity:0; */
  animation: 3s 2s forwards fadeIn_startBtn;
  transition-duration: 0.5s;
  transition-property: box-shadow, border-color, transform;
  cursor: pointer;
}

.buttonStart > span{
  border-radius: 25px;
  border:6px solid transparent;
  text-align: center;
  width:100%;
  height:fit-content;
  padding: 12px 0;
  position: absolute;
  left:-6px;
  top:-6px;
  user-select: none;
  -webkit-user-select: none;
}

.buttonKey{
  width: 110px;
  height: 70px;
  color:white;
  font-size: 30px;
  border-radius: 25px;
  border: 6px solid white;
  background-color: black;
  position: absolute;
  right:60px;
  bottom:60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  /* opacity:0; */
  animation: 3s 2.5s forwards fadeIn_keyBtn;
  transition-duration: 0.5s;
  transition-property: box-shadow, border-color, transform;
}

#containerKey{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 25px;
  border:6px solid transparent;
  position:absolute;
  left:-6px;
  top:-6px;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

#iconKey{
  width:40px;
  height:40px;
  background: center/cover url('icon/arcadeWhite.png');
}


/* add in JS */
  .buttonDown{
    border-color : #999999 white white #999999;
    transform : translate(0, 0);
    box-shadow : 0 0 0 0;
    background-color: white;
    color:black;
  }

  .buttonHover{
    background-color: white;
    color:black;
    border-color: white #999999 #999999 white;
    box-shadow: 4px 4px 8px 0 #ffffff9e;
    transform: translate(-2px, -2px);
  }

  .buttonFast{
    transition-duration: 0.02s;
  }

  .buttonSlow{
    transition-duration: 0.5s;
  }

  .contentError{
    width: 100%;
    height:40px;
    margin-top: 20px;
  }

  #errorMsg{
    display: block;
    color:red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .containKeyIn{
    opacity: 1;
    visibility: visible;
    transition-duration: 1s;
  }

  .containKeyOut{
    opacity: 0;
    visibility: hidden;
    transition-duration: 1s;
  }

  .openKey{
    width:300px;
    height:300px;
    transition-delay: 0.5s;
    transition-duration: 1s;
    transition-property: width, height;
  }

  .closeKey{
    width: 110px;
    height: 70px;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-property: width, height;
  }

  .containCardKey{
    width: 100%;
    height:fit-content;
    display: flex;
    justify-content: space-around;
    opacity: 0;
    visibility: hidden;
  }
  
  .cardKeyIn{    
    visibility: visible;
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 1s;
  }

  .cardKeyOut{
    visibility: hidden;
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0s;
  }

  .cardKey1{
    width:125px;
    height:230px;
    background: radial-gradient(circle at 50%, #3057d4, #0f256d);
  }

  .cardKey2{
    width:125px;
    height:230px;
    background: radial-gradient(circle at 50%, #d43030, #720b0b);
  }

  .titleKeyJ1{
    color:#567eff;
  }

  .titleKeyJ2{
    color:#ff2d2d;
  }
  
  .keyZ, .keyS, .keyUp, .keyDown{
    width:50px;
    height:50px;
    margin: auto;
    background-color: white;
    background: linear-gradient(220deg, rgba(170, 170, 170, 0.7), rgba(255, 255, 255, 0.8)),
                linear-gradient(0deg, rgba(170, 170, 170, 0.7), rgba(255, 255, 255, 0.5));
    font-size:30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 4px 4px 0 0 #888888;
    margin-bottom:6px;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .margeKeyZ{
    margin-left:40px;
  }
  
  .margeKeyS{
    margin-right:40px;
  }



/*****/
/**** Animation home ****/
/* @keyframes fadeIn_title{
  from{
    font-size: 50px;
    opacity: 0;
    visibility: hidden;
  }

  to{
    font-size: 70px;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeIn_card{
  from{
    transform:translateY(-50px);
    opacity: 0;
    visibility: hidden;
  }

  to{
    transform:translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeIn_startBtn{
  from{
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
  }

  to{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}

@keyframes fadeIn_keyBtn{
  from{
    opacity: 0;
    visibility: hidden;
  }

  to{
    opacity: 1;
    visibility: visible;
  }
} */


@media (max-width: 767.98px){

  h1{
    font-size:60px;
  }

  .card1{
    width:180px;
    height:180px;
    margin-right:50px;
  }
  
  .card2{
    width:180px;
    height:180px;
    margin-left:50px;
  }

  h2{
    margin:15px 0 10px 0;
  }
  
  .face{
    width:160px;
    height:160px;
  }
  
  .front1, .front2{
    transform: translateZ(80px);
  }
  
  .left{
    transform: rotateY(-90deg) translateZ(80px);
  }
  
  .right{
    transform: rotateY(90deg) translateZ(80px);
  }
  
  .bottom1{
    transform:rotateX(90deg) translateZ(-80px);
  }

  .bottom2{
    transform:rotateX(90deg) translateZ(-80px);
  }
}







